<div class="row my-5">
    <h2 id="about" class="section noto-serif-bold text-left">Hi, I'm Dennis.</h2>
    <div class="col-md-4 mb-4 p-3">
        <div class="image">
            <%= image_tag 'images/about.jpg', alt: 'About me', class: 'img-fluid' %>
        </div>
    </div>
    <div class="col-md-4 mb-4 p-3">
        <p class="noto-serif">I grew up in a flyover state of the American Midwest. I spent a summer in Dresden, Germany during university, traveled around Europe a bit, then moved to Japan after graduating, where I now reside. </p>
        <br>
        <p class="noto-serif mb-4">Recently I had an opportunity to study at a coding bootcamp with <i>Le Wagon</i> in Tokyo. I learned the foundations of languages like Ruby and JavaScript and had a blast building a few nice apps from start to finish.</p>
    </div>
    <div class="col-md-4 mb-4 p-3">
        <p class="noto-serif">For me, programming is how I want to have a hand in creating the future. To that end, I now dedicate my time fully to making a career in web development.</p>
    </div>
</div>
