<div id="db" class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1  class="title-main first-name">DENNIS JOHN</h1>
    <h1 class="title-main last-name">BROWN JR.</h1>
    <div class="titles-container d-flex">
      <h2 class="portfolio">PORTFOLIO&nbsp; </h2>
      <h2 class="developer"> |&nbsp;FULL STACK WEB DEVELOPER</h2>
    </div>
  </div>
</div>
