<nav class="nav-bar">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-start">
        <ul class="nav-bar-list">
          <li class="nav-bar-list-item">
            <span class="nav-bar-list-item-number"></span>
            <a href="#db" class="nav-bar-list-item-link text-left">
              <h1 class="db-heading title-main first-name">db</h1>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <ul class="nav-bar-list">
          <li class="nav-bar-list-item">
            <span class="nav-bar-list-item-number">01</span>
            <a href="#about" class="nav-bar-list-item-link">About</a>
          </li>
          <li class="nav-bar-list-item">
            <span class="nav-bar-list-item-number">02</span>
            <a href="#projects" class="nav-bar-list-item-link">Projects</a>
          </li>
          <li class="nav-bar-list-item">
            <span class="nav-bar-list-item-number">03</span>
            <a href="#contact" class="nav-bar-list-item-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
