<div class="thin-line"></div>

<div id="contact" class="contact" style="background-color: rgba(0, 0, 0, 0.2)">
  <div class="d-flex justify-content-center" style="padding-bottom: 60px; padding-top: 60px;">
    <h1 class="contact-me">CONTACT ME |</h1>
    <div class="d-flex align-items-center">
      <div class="button-social d-flex flex-column">
        <i class="fa-solid fa-envelope"></i>
        <%= mail_to "djbrownjr40@gmail.com", "", class: 'contact-me button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column">
        <i class="fa-brands fa-github"></i>
        <%= link_to "", "https://github.com/djbrownjr40", target: '_blank', class: 'button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column">
        <i class="fa-brands fa-linkedin"></i>
        <%= link_to "", "https://www.linkedin.com/in/dennis-john-brown-jr", target: '_blank', class: 'button-social-link' %>
      </div>
    </div>
  </div>
</div>
