  <hr class="thin-line">
<div class="col-12">
  <div id="contact" class="section contact" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="d-flex justify-content-center flex-wrap">
      <div class="button-social d-flex flex-column justify-content-center align-items-center">
        <i class="fa-solid fa-envelope"></i>
        <%= mail_to "djbrownjr40@gmail.com", "", class: 'button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column justify-content-center align-items-center">
        <i class="fa-brands fa-github"></i>
        <%= link_to "", "https://github.com/djbrownjr40", target: '_blank', class: 'button-social-link' %>
      </div>
      <div class="button-social d-flex flex-column justify-content-center align-items-center">
        <i class="fa-brands fa-linkedin"></i>
        <%= link_to "", "https://www.linkedin.com/in/dennis-john-brown-jr", target: '_blank', class: 'button-social-link' %>
      </div>
    </div>
  </div>
</div>
</hr>
