.banner {
  height: 100vh;
}

.title-main {
  font-family: 'Rubik Mono One', sans-serif;
  display: inline-block;
}

.first-name {
  letter-spacing: 0.04em;
  margin-right: -0.1em; 
}

.last-name {
  letter-spacing: 0.12em;
}
