.button-social {
  padding: 0 16px;
  position: relative;
  font-size: 20px;
  color: white;

  &:hover {
    opacity: 0.7;
  }
}



div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 28%;
  color: white;
  background-color: #C89933;
  border: 2px dotted #7B7554;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  max-width: 220px;

  &:hover {
    color: red;
  }
}
