.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  grid-gap: 24px;
}

.card-product {
  background: #F6F0ED;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FBFBF2;
  border: 1px solid #171513;
  padding: 16px;
  position: relative;
  transition: box-shadow 0.3s ease;
  box-shadow: none;
}

.card-product:hover {
  box-shadow:
    5px 5px 0px 0px #9F7065, /* Right and bottom shadow */
    0px 0px 0px 1px #9F7065;
}
.card-product .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-external-link-alt {
  color: #9F7065;
}

.card-product .images {
  justify-content: center;
  display: flex;
  margin-top: 16px; /* Add margin to separate image from title */
}

.card-product img {
  max-width: 100%;
  max-height: 650px;
  object-fit: contain;
}

.card-product h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.card-product .card-product-infos {
  padding: 16px;
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.external-link {
  margin-left: 8px;
  opacity: 0;
  transition: opacity 1s;
  &:hover {
    cursor: pointer;
  }
}

.about, .stack {
  padding: 8px 0px 0px;

}

.overpass {
  font-family: 'Overpass Mono', monospace;
  font-weight: 800;
}

.overpass-bold {
  font-family: 'Overpass Mono', monospace;
  font-weight: 900;
}

.title {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
