
.nav-bar-wrapper {
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.5);
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 100%;
  justify-items: center;
  width: 100%;
}

.nav-bar-list {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-template-rows: auto;
  grid-area: bar;
  justify-self: flex-end
}

.nav-bar-list-item {
  list-style: none;
}

.border {
  // position: absolute;
  z-index: 4;
}

.border-left {
  // left: auto;
  visibility: inherit;
  height: 100%;
  top: 0;
  transform-origin: 50% 0;
  width: 1px;
  background-color: red;
}

.nav-bar .border-left {
  left: auto;
  right: calc(var(--grid-val)*4.5);
  grid-column: span 3;
}

.border-bottom {
  visibility: inherit;
  opacity: 1;
  bottom: 0;
  height: 1px;
  left: 0;
  transform-origin: 0 50%;
  width: 100%;
}
