.nav-bar-wrapper {
  align-items: center;
  // display: flex;
  // justify-content: space-between;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 9999;
  background-color: #CCC7B9;
}

.nav-bar {
  left: auto;
  right: calc(var(--grid-val)*4.5);
  grid-column: span 3;
}

.nav-bar-list {
  display: flex; /* Change to flexbox */
  justify-content: center; /* Center the items horizontally */
  list-style: none;
  padding: 0;
  margin-left: 300px;
  margin-top: 5px;
}

.nav-bar-list-item {
  margin: 0 40px;
}

.nav-bar-list-item-number,
.nav-bar-list-item-link {
  display: block;
  text-align: center;
}


.nav-bar-list-item-link {
  text-decoration: none;
  color: white;
}

.nav-bar-list-item-number {
  margin-bottom: 2px;
  margin-top: 6px;
  text-align: left;
}

.section {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .nav-bar-list {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px; /* Add some space between links in mobile view */
  }

  .nav-bar-list-item {
    margin: 10px 0;
  }
}
