.thin-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  margin: 10px 0;
}

.contact-me {
  font-family: 'Rubik Mono One', sans-serif;
  display: inline-block;
  white-space: nowrap;
  font-size: 5vw;
}

.button-social i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // font-size: 1.5em;
}
