.thin-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  margin: 10px 0;
}

// .contact {
//   background-color: black;
//   padding: 16px 120px 280px 16px;
// }
